<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'Verify' | translate }} {{ 'Email' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <h2>{{ 'VerifyTitle' | translate }}</h2>
        </ion-row>
        <ion-row>
            <p>
                {{ 'VerifyContent' | translate }}
            </p>
        </ion-row>
        <ion-row>
            <ion-button type="submit" (click)="this.sendVerificationMail()" expand="block">
                {{ 'VerifyResend' | translate }}
            </ion-button>
        </ion-row>
    </ion-grid>
</ion-content>