<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="todolist"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'Add' | translate }} {{ 'item' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="addList(listUid)" #addListForm="ngForm">
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
                <ion-label position="stacked">{{ 'Title' | translate }}
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required id="title" type="text" name="title" [(ngModel)]="title" #ctrlTitle="ngModel">
                </ion-input>
                <ion-text [hidden]="ctrlTitle.valid || ctrlTitle.pristine || title" color="danger">{{ 'Title' | translate }} {{ 'is' | translate }} {{ 'required' | translate }} </ion-text>
            </ion-item>
        </ion-list>
        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!addListForm.valid">
                {{ 'Add' | translate }} {{ 'item' | translate }}</ion-button>
        </div>
    </form>
</ion-content>