<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="profile"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Todolists
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <p> YOUR TODOLIST</p>
    <ion-list>
        <ion-item-sliding *ngFor="let todolist of todolist$ | async">
            <ion-item>
                <ion-label (click)="moveToTodolist(todolist)">
                    <h2>{{ todolist.title }}</h2>
                </ion-label>
                <ion-icon name="trash" (click)="delete(todolist)"></ion-icon>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <p> TODOLIST SHARED WITH YOU IN READ MODE </p>
    <ion-list>
        <ion-item-sliding *ngFor="let todolist of todolistread$ | async">
            <ion-item>
                <ion-label (click)="moveToTodolist(todolist)">
                    <h2>{{ todolist.title }}</h2>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <p> TODOLIST SHARED WITH YOU IN READ/WRITE MODE </p>
    <ion-list>
        <ion-item-sliding *ngFor="let todolist of todolistreadwrite$ | async">
            <ion-item>
                <ion-label (click)="moveToTodolist(todolist)">
                    <h2>{{ todolist.title }}</h2>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <section>
        <ion-button expand="block" [routerDirection]="'root'" [routerLink]="'/addtodolist'">Add a New Todolist</ion-button>
    </section>
</ion-content>