<ion-header>
    <ion-toolbar>
        <ion-title>
            Todolists
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let todolist of todolist$ | async">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ todolist.title }}
                </mat-panel-title>
                <mat-panel-description (click)="moveToTodolist(todolist)">
                    Edit
                </mat-panel-description>
                <mat-panel-description (click)="delete(todolist)">
                    Remove
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ion-label *ngFor="let todo of todolist.todos">
                <h3>{{ todo.title }}</h3>
            </ion-label>


        </mat-expansion-panel>

    </mat-accordion>

    <section>
        <ion-button expand="block" [routerDirection]="'root'" [routerLink]="'/addtodolist'">Add a New Todolist</ion-button>
    </section>
</ion-content>