<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="todolists"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Todos
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-list>
        <ion-item-sliding *ngFor="let todo of todos$ | async">
            <ion-item>
                <ion-label (click)="edit(todo)">
                    <h2>{{ todo.title }}</h2>
                </ion-label>
                <ion-icon name="trash" (click)="delete(todo)"></ion-icon>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-item>
        <ion-button expand="block" (click)="addNewTodo()">Add a New Todo</ion-button>
    </ion-item>
</ion-content>