<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="todolists"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="(this.canWrite | async); else elseBlock">
            {{ 'Update todolist' | translate }}
        </ion-title>
        <ng-template #elseBlock>
            <ion-title>{{ 'Todolist' | translate }} {{ '[Read Only]' | translate }}
            </ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div class="big-items" *ngIf="todolist$ | async as todolist">
        <h2>{{ 'List name :' | translate }}</h2>

        <ion-item>
            <ion-input class="name" *ngIf="(this.canWrite | async)" type="text" [(ngModel)]="todolist.title" name="title" required></ion-input>
            <ion-button class="modify" *ngIf="(this.canWrite | async)" type="submit" (click)="this.editTodolistName(todolist)">{{ 'Edit Todolist name' | translate }}</ion-button>
        </ion-item>

        <h2 *ngIf="!(this.canWrite | async)">{{ todolist.title }}</h2>
    </div>

    <div class="big-items">
        <h2>{{ 'Todos :' | translate }}</h2>

        <ion-list>
            <ion-item-sliding *ngFor="let todo of todos$ | async">
                <ion-item (click)=edit(todo)>
                    <h2>{{ todo.title }}</h2>
                </ion-item>

                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="delete(todo)">
                        <ion-icon slot="top" name="trash"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>

    <ion-button *ngIf="(this.canWrite | async)" (click)="addNewTodo()">{{ 'Add a Todo' | translate }}</ion-button>

    <ion-button (click)="backToAllList()">{{ 'Back to lists' | translate }}</ion-button>

    <ion-button *ngIf="(this.canWrite | async)" (click)="shareToDoList()">{{ 'Share' | translate }}</ion-button>
</ion-content>