.big-items {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    --border-width: 0;
    --inner-border-width: 0;
    background: var(--ion-color-secondary);
    border: 0.05rem solid #373737;
    box-shadow: 0.10rem 0.10rem 0.10rem 0.10rem #373737;
}
ion-button {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
ion-list {
    background: var(--ion-color-secondary);
}
.modify {
    width: 40%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}