<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="todolist"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'Add item' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="addList(listUid)" #addListForm="ngForm">
        <ion-item>
            <ion-label position="stacked">{{ 'Title' | translate }}
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required id="title" type="text" name="title" [(ngModel)]="title" #ctrlTitle="ngModel"></ion-input>
            <ion-text [hidden]="ctrlTitle.valid || ctrlTitle.pristine || title" color="danger">{{ 'Title is required' | translate }} </ion-text>
        </ion-item>

        <ion-button type="submit" class="ion-no-margin" [disabled]="!addListForm.valid">{{ 'Add item' | translate }}</ion-button>
    </form>
</ion-content>