.items {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    --border-width: 0;
    --inner-border-width: 0;
    --background: #ffda33;
    border: 0.05rem solid #373737;
    box-shadow: 0.10rem 0.10rem 0.10rem 0.10rem #373737;
}
.h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
ion-button {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
ion-thumbnail {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    width: 10rem;
}
.div-lang {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    --border-width: 0;
    --inner-border-width: 0;
}
.buttons-lang {
    height: 100%;
    width: 50%;
}