<div *ngIf="(this.user === undefined || this.user === null) else this.alreadyLogged">
    <form (ngSubmit)="this.login(email, password)" #loginForm="ngForm">
        <ion-item class="labels">
            <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
            <ion-input type="text" #email required></ion-input>
        </ion-item>

        <ion-item class="labels">
            <ion-label position="floating">{{ 'Password' | translate }}</ion-label>
            <ion-input type="password" #password required></ion-input>
        </ion-item>

        <ion-button type="submit" class="buttons" [disabled]="!loginForm.valid">{{ 'Login' | translate }}</ion-button>
    </form>

    <ion-button type="submit" color="danger" class="buttons" (click)="this.googleAuth()">{{ 'Login with Google' | translate }}</ion-button>

    <ion-button type="submit" color="danger" class="buttons" (click)="this.register()">{{ 'Against GAFA ? Register !' | translate }}</ion-button>
</div>

<ng-template #alreadyLogged>
    <ion-item class="items">
        <h1 class="h1">{{ 'Hello' | translate }} {{ this.user.displayName }}!</h1>
    </ion-item>

    <ion-button type="submit" class="buttons" (click)="this.logout()">{{ 'Logout' | translate }}</ion-button>

    <ion-button type="submit" class="buttons" (click)="this.profile()">{{ 'Profile' | translate }}</ion-button>
</ng-template>
