<ion-header>
    <ion-toolbar>
        <ion-title>
            {{ 'Login' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <div *ngIf="this.getUser() != undefined else this.showLogin">
        <h1>{{ 'Hello' | translate }} {{ this.getUser().displayName }}!</h1>
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="this.logout()">
            {{ 'Logout' | translate }}</ion-button>
        <ion-button expand="block" type="submit" class="ion-no-margin" (click)="this.profile()">
            {{ 'Profile' | translate }}</ion-button>
    </div>
    <ng-template #showLogin>
        <form (ngSubmit)="this.login(email, password)" #loginForm="ngForm">
            <ion-item lines="full">
                <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
                <ion-input type="text" #email required></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label position="floating">{{ 'Password' | translate }}</ion-label>
                <ion-input type="password" #password required></ion-input>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!loginForm.valid">
                        {{ 'Login' | translate }}</ion-button>
                </ion-col>
            </ion-row>
        </form>
        <form>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="danger" (click)="this.googleAuth()" expand="block">
                        {{ 'Login' | translate }} {{ 'with' | translate }} Google
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
        <form>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" color="danger" (click)="this.register()" expand="block">
                        {{ 'Against' | translate }} GAFA ? {{ 'Register' | translate }} !
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ng-template>
</ion-content>