<form (ngSubmit)="this.signUp(email, password)" #signUpForm="ngForm">
    <ion-item class="items">
        <ion-label position="floating">{{ 'Email' | translate }}</ion-label>
        <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item class="items">
        <ion-label position="floating">{{ 'Password' | translate }}</ion-label>
        <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-item class="items">
        <ion-button expand="block" type="submit" class="buttons" [disabled]="!signUpForm.valid">{{ 'Register' | translate }}</ion-button>
    </ion-item>
</form>
