.items {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    --border-width: 0;
    --inner-border-width: 0;
}
.h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
.buttons {
    width: 100%;
    height: 100%;
}