<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="todolists"></ion-back-button>
        </ion-buttons>
        <ion-title>Todo modification</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form *ngIf="todo$ | async as todo" (ngSubmit)="this.updateTodo(todo)" #todoForm="ngForm">
        <ion-list>
            <ion-item lines="full">
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" [(ngModel)]="todo.title" name="title" required></ion-input>
            </ion-item>
            <ion-item lines="full">
                <ion-label>Is Done</ion-label>
                <ion-toggle [(ngModel)]="todo.isDone" name="isDone"></ion-toggle>
            </ion-item>
            <ion-item lines="full">
                <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!todoForm.valid">Update Todo</ion-button>
                <ion-img [src]="todo.picture"></ion-img>
            </ion-item>
            <ion-item lines="full">
                <ion-button expand="block" class="ion-no-margin" (click)="this.addPicture(todo)">Add a picture</ion-button>
            </ion-item>
            <ion-item lines="full">
                <ion-button expand="block" type="submit" class="ion-no-margin" [disabled]="!todoForm.valid">Update Todo</ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>