<ion-header>
    <ion-toolbar>
        <ion-title>
            TodoList
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let i of this.listService.get().items">
            <ion-input type="text" value="{{i.name}}" (input)="onChange(i);"></ion-input>
            <ion-input type="text" value="{{i.desc}}" (input)="onChange(i);"></ion-input>
            <ion-input type="text" value="{{i.complete}}" (input)="onChange(i);"></ion-input>
            <ion-button color="secondary" (click)='onDelete(i);'>X</ion-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-content>
    <ion-input type="text" placeholder="Name" [(ngModel)]="this.item.name "></ion-input>
    <ion-input type="text" placeholder="Description" [(ngModel)]="this.item.desc"></ion-input>
    <ion-button color="primary" (click)='onAdd();'>Add item</ion-button>
</ion-content>